# Building a Dataset
Quick tutorial on building your very own dataset (and how to save it)

In [1]:
# Libraries
import pandas as pd

## Dataset Size

In [2]:
# Number of rows or users to create
num_users = 100000

## Feature Names

In [3]:
#  A list of 10 features
features = [
    "id",
    "gender",
    "subscriber",
    "name",
    "email",
    "last_login",
    "dob",
    "education",
    "bio",
    "rating"
]

# Creating a DF for these features
df = pd.DataFrame(columns=features)

df

Empty DataFrame
Columns: [id, gender, subscriber, name, email, last_login, dob, education, bio, rating]
Index: []

## IDs

In [4]:
import uuid

df['id'] = [uuid.uuid4().hex for i in range(num_users)]

# Checking if all IDs are unique
print(df['id'].nunique()==num_users)

df

True

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65b856edf7a04b1c95274ed0615614b5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4152d737ee174517bd4691bc726ea71d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1e8864c43ef644c293ef8a743e61b52a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,804e09681bb5438fa42223e7ae8d8843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,937a85742fd649758e63df29fd08f132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,a89ec3b5acb64a2089bcf18569485e64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,a81d4643cad649b5897a39654363b6f1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,36c8dd23aa314d6d943efa5a94cdbef2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Gender

In [5]:
import random

genders = ["male", "female", "non-binary"]


df['gender'] = random.choices(
    genders, 
    weights=(49,49,2), 
    k=num_users
)

df

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65b856edf7a04b1c95274ed0615614b5,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4152d737ee174517bd4691bc726ea71d,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1e8864c43ef644c293ef8a743e61b52a,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,804e09681bb5438fa42223e7ae8d8843,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,937a85742fd649758e63df29fd08f132,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,a89ec3b5acb64a2089bcf18569485e64,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,a81d4643cad649b5897a39654363b6f1,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Subscriber

In [6]:
# Choices
choice = [True, False]

df['subscriber'] = random.choices(
    choice, 
    k=num_users
)

df

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65b856edf7a04b1c95274ed0615614b5,male,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4152d737ee174517bd4691bc726ea71d,male,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1e8864c43ef644c293ef8a743e61b52a,female,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,804e09681bb5438fa42223e7ae8d8843,male,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,937a85742fd649758e63df29fd08f132,male,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,a89ec3b5acb64a2089bcf18569485e64,male,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,a81d4643cad649b5897a39654363b6f1,female,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Name

In [7]:
# Installing the needed library
!pip install faker

Requirement already satisfied: faker in /Users/marcosantos/miniforge3/lib/python3.9/site-packages (8.12.1)
Requirement already satisfied: python-dateutil>=2.4 in /Users/marcosantos/miniforge3/lib/python3.9/site-packages (from faker) (2.8.1)
Requirement already satisfied: text-unidecode==1.3 in /Users/marcosantos/miniforge3/lib/python3.9/site-packages (from faker) (1.3)
Requirement already satisfied: six>=1.5 in /Users/marcosantos/miniforge3/lib/python3.9/site-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [8]:
from faker import Faker

faker = Faker()

def name_gen(gender):
    """
    Quickly generates a name based on gender
    """
    if gender=='male':
        return faker.name_male()
    elif gender=='female':
        return faker.name_female()
    
    return faker.name()

df['name'] = [name_gen(i) for i in df['gender']]

df

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,False,Patricia Mcdowell,NaN,NaN,NaN,NaN,NaN,NaN
1,65b856edf7a04b1c95274ed0615614b5,male,False,James Cortez,NaN,NaN,NaN,NaN,NaN,NaN
2,4152d737ee174517bd4691bc726ea71d,male,False,Michael Whitney,NaN,NaN,NaN,NaN,NaN,NaN
3,1e8864c43ef644c293ef8a743e61b52a,female,True,Lori Marshall,NaN,NaN,NaN,NaN,NaN,NaN
4,804e09681bb5438fa42223e7ae8d8843,male,True,Jeffrey Perry,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,True,Debra Singleton,NaN,NaN,NaN,NaN,NaN,NaN
99996,937a85742fd649758e63df29fd08f132,male,True,James Romero,NaN,NaN,NaN,NaN,NaN,NaN
99997,a89ec3b5acb64a2089bcf18569485e64,male,True,Joshua Morales,NaN,NaN,NaN,NaN,NaN,NaN
99998,a81d4643cad649b5897a39654363b6f1,female,True,Lisa Donovan,NaN,NaN,NaN,NaN,NaN,NaN
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,False,Terry Berg,NaN,NaN,NaN,NaN,NaN,NaN

## Email

In [9]:
def emailGen(name, duplicateFound=False):
    """
    Generates a random email address based on the given name. 
    Adds a number at the end if a duplicate address was found.
    """
    # Fake domain name
    dom = "@fakemail.com"
    
    # Lowercasing and splitting
    name = name.lower().split(" ")
    
    # Random character to insert in the name
    chars = [".", "_"]
    
    new_name = name[0] + random.choice(chars) + name[1] 
    
    if duplicateFound:
        
        # Random number to insert at the end
        num = random.randint(0,100)
        
        # Inserting at the end
        new_name = new_name + str(num)
        
        return new_name + dom
    
    return new_name + dom
    

emails = []

for name in df['name']:
    
    # Generating the email
    email = emailGen(name)
    
    # Looping until a unique email is generated
    while email in emails:
        
        email = emailGen(name, duplicateFound=True)
    
    # Attaching the new email to the list
    emails.append(email)
    
df['email'] = emails
    
# Checking if the emails are all unique
print(df['email'].nunique()==num_users)

df

True

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,False,Patricia Mcdowell,patricia_mcdowell@fakemail.com,NaN,NaN,NaN,NaN,NaN
1,65b856edf7a04b1c95274ed0615614b5,male,False,James Cortez,james_cortez@fakemail.com,NaN,NaN,NaN,NaN,NaN
2,4152d737ee174517bd4691bc726ea71d,male,False,Michael Whitney,michael_whitney@fakemail.com,NaN,NaN,NaN,NaN,NaN
3,1e8864c43ef644c293ef8a743e61b52a,female,True,Lori Marshall,lori.marshall@fakemail.com,NaN,NaN,NaN,NaN,NaN
4,804e09681bb5438fa42223e7ae8d8843,male,True,Jeffrey Perry,jeffrey.perry@fakemail.com,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,True,Debra Singleton,debra.singleton@fakemail.com,NaN,NaN,NaN,NaN,NaN
99996,937a85742fd649758e63df29fd08f132,male,True,James Romero,james_romero@fakemail.com,NaN,NaN,NaN,NaN,NaN
99997,a89ec3b5acb64a2089bcf18569485e64,male,True,Joshua Morales,joshua_morales@fakemail.com,NaN,NaN,NaN,NaN,NaN
99998,a81d4643cad649b5897a39654363b6f1,female,True,Lisa Donovan,lisa.donovan@fakemail.com,NaN,NaN,NaN,NaN,NaN
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,False,Terry Berg,terry.berg@fakemail.com,NaN,NaN,NaN,NaN,NaN

## Last Login

In [10]:
import datetime

def randomtimes(start, end, n):
    """
    Generates random time stamps based on a given amount between two time periods.
    """
    # The timestamp format
    frmt = "%Y-%m-%d %H:%M:%S"
    
    # Formatting the two time periods
    stime = datetime.datetime.strptime(start, frmt)
    etime = datetime.datetime.strptime(end, frmt)
    
    # Creating the pool for random times
    td = etime - stime
    
    # Generating a list with the random times
    times = [(random.random() * td + stime).strftime(frmt) for _ in range(n)]
    
    return times

# Setting the start and end times
start = "2021-08-01 00:00:00"

end = "2021-08-24 00:00:00"

df['last_login'] = randomtimes(start, end, num_users)

df

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,False,Patricia Mcdowell,patricia_mcdowell@fakemail.com,2021-08-04 22:36:51,NaN,NaN,NaN,NaN
1,65b856edf7a04b1c95274ed0615614b5,male,False,James Cortez,james_cortez@fakemail.com,2021-08-09 10:55:46,NaN,NaN,NaN,NaN
2,4152d737ee174517bd4691bc726ea71d,male,False,Michael Whitney,michael_whitney@fakemail.com,2021-08-18 18:14:46,NaN,NaN,NaN,NaN
3,1e8864c43ef644c293ef8a743e61b52a,female,True,Lori Marshall,lori.marshall@fakemail.com,2021-08-05 10:59:47,NaN,NaN,NaN,NaN
4,804e09681bb5438fa42223e7ae8d8843,male,True,Jeffrey Perry,jeffrey.perry@fakemail.com,2021-08-06 01:29:41,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,True,Debra Singleton,debra.singleton@fakemail.com,2021-08-21 08:55:28,NaN,NaN,NaN,NaN
99996,937a85742fd649758e63df29fd08f132,male,True,James Romero,james_romero@fakemail.com,2021-08-06 16:10:18,NaN,NaN,NaN,NaN
99997,a89ec3b5acb64a2089bcf18569485e64,male,True,Joshua Morales,joshua_morales@fakemail.com,2021-08-17 22:17:29,NaN,NaN,NaN,NaN
99998,a81d4643cad649b5897a39654363b6f1,female,True,Lisa Donovan,lisa.donovan@fakemail.com,2021-08-21 19:46:16,NaN,NaN,NaN,NaN
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,False,Terry Berg,terry.berg@fakemail.com,2021-08-05 00:59:21,NaN,NaN,NaN,NaN

## Date of Birth

In [11]:
def random_dob(start, end, n):
    """
    Generating a list of a set number of timestamps
    """
    
    # The timestamp format
    frmt = "%Y-%m-%d"
    
    # Formatting the two time periods
    stime = datetime.datetime.strptime(start, frmt)
    etime = datetime.datetime.strptime(end, frmt)
    
    # Creating the pool for random times
    td = etime - stime
    
    # Generating a list with the random times
    times = [(random.random() * td + stime).strftime(frmt) for _ in range(n)]
    
    return times

df['dob'] = random_dob("1980-01-01", "2006-01-01", num_users)

df

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,False,Patricia Mcdowell,patricia_mcdowell@fakemail.com,2021-08-04 22:36:51,1980-02-01,NaN,NaN,NaN
1,65b856edf7a04b1c95274ed0615614b5,male,False,James Cortez,james_cortez@fakemail.com,2021-08-09 10:55:46,1994-12-22,NaN,NaN,NaN
2,4152d737ee174517bd4691bc726ea71d,male,False,Michael Whitney,michael_whitney@fakemail.com,2021-08-18 18:14:46,1995-12-24,NaN,NaN,NaN
3,1e8864c43ef644c293ef8a743e61b52a,female,True,Lori Marshall,lori.marshall@fakemail.com,2021-08-05 10:59:47,1995-10-05,NaN,NaN,NaN
4,804e09681bb5438fa42223e7ae8d8843,male,True,Jeffrey Perry,jeffrey.perry@fakemail.com,2021-08-06 01:29:41,1987-10-11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,True,Debra Singleton,debra.singleton@fakemail.com,2021-08-21 08:55:28,1986-04-03,NaN,NaN,NaN
99996,937a85742fd649758e63df29fd08f132,male,True,James Romero,james_romero@fakemail.com,2021-08-06 16:10:18,1993-12-02,NaN,NaN,NaN
99997,a89ec3b5acb64a2089bcf18569485e64,male,True,Joshua Morales,joshua_morales@fakemail.com,2021-08-17 22:17:29,2003-01-04,NaN,NaN,NaN
99998,a81d4643cad649b5897a39654363b6f1,female,True,Lisa Donovan,lisa.donovan@fakemail.com,2021-08-21 19:46:16,1994-06-26,NaN,NaN,NaN
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,False,Terry Berg,terry.berg@fakemail.com,2021-08-05 00:59:21,1982-12-07,NaN,NaN,NaN

## Current Education

In [12]:
def getEducation(dob):
    """
    Assigns an education level based on the given date of birth
    """
    # Current date
    now = datetime.datetime.now()
    
    # Date of birth
    dob = datetime.datetime.strptime(dob, "%Y-%m-%d")
    
    # Subtracting the times to get an age
    age = int((now - dob).days/365.25)
    
    # Returning education level based on age
    if age <= 18:
        return 'high school'
    elif age <= 22:
        return 'undergrad'
    elif age <= 25:
        return 'grad'
    else:
        return 'employed'

df['education'] = [getEducation(i) for i in df['dob']]

df

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,False,Patricia Mcdowell,patricia_mcdowell@fakemail.com,2021-08-04 22:36:51,1980-02-01,employed,NaN,NaN
1,65b856edf7a04b1c95274ed0615614b5,male,False,James Cortez,james_cortez@fakemail.com,2021-08-09 10:55:46,1994-12-22,employed,NaN,NaN
2,4152d737ee174517bd4691bc726ea71d,male,False,Michael Whitney,michael_whitney@fakemail.com,2021-08-18 18:14:46,1995-12-24,grad,NaN,NaN
3,1e8864c43ef644c293ef8a743e61b52a,female,True,Lori Marshall,lori.marshall@fakemail.com,2021-08-05 10:59:47,1995-10-05,grad,NaN,NaN
4,804e09681bb5438fa42223e7ae8d8843,male,True,Jeffrey Perry,jeffrey.perry@fakemail.com,2021-08-06 01:29:41,1987-10-11,employed,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,True,Debra Singleton,debra.singleton@fakemail.com,2021-08-21 08:55:28,1986-04-03,employed,NaN,NaN
99996,937a85742fd649758e63df29fd08f132,male,True,James Romero,james_romero@fakemail.com,2021-08-06 16:10:18,1993-12-02,employed,NaN,NaN
99997,a89ec3b5acb64a2089bcf18569485e64,male,True,Joshua Morales,joshua_morales@fakemail.com,2021-08-17 22:17:29,2003-01-04,high school,NaN,NaN
99998,a81d4643cad649b5897a39654363b6f1,female,True,Lisa Donovan,lisa.donovan@fakemail.com,2021-08-21 19:46:16,1994-06-26,employed,NaN,NaN
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,False,Terry Berg,terry.berg@fakemail.com,2021-08-05 00:59:21,1982-12-07,employed,NaN,NaN

## Bio

In [13]:
def makeBio(subscriber):
    """
    Making a short or long bio depending their subscription status.
    """
    
    if subscriber==True:
        
        # Randomizing bio length but skewed towards longer bios
        bio_len = random.choices([10,20], weights=(10,90), k=1)[0]
        
    elif subscriber==False:
        
        # Randomizing bio length but skewed towards shorter bios
        bio_len = random.choices([1,3], weights=(10,90), k=1)[0]
        
    return faker.sentence(bio_len)
    

df['bio'] = [makeBio(i) for i in df['subscriber']]

df

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,False,Patricia Mcdowell,patricia_mcdowell@fakemail.com,2021-08-04 22:36:51,1980-02-01,employed,Mean radio whose.,NaN
1,65b856edf7a04b1c95274ed0615614b5,male,False,James Cortez,james_cortez@fakemail.com,2021-08-09 10:55:46,1994-12-22,employed,To director.,NaN
2,4152d737ee174517bd4691bc726ea71d,male,False,Michael Whitney,michael_whitney@fakemail.com,2021-08-18 18:14:46,1995-12-24,grad,Create chair.,NaN
3,1e8864c43ef644c293ef8a743e61b52a,female,True,Lori Marshall,lori.marshall@fakemail.com,2021-08-05 10:59:47,1995-10-05,grad,Bar why kitchen page manager story conference ...,NaN
4,804e09681bb5438fa42223e7ae8d8843,male,True,Jeffrey Perry,jeffrey.perry@fakemail.com,2021-08-06 01:29:41,1987-10-11,employed,Create against none well light method close ci...,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,True,Debra Singleton,debra.singleton@fakemail.com,2021-08-21 08:55:28,1986-04-03,employed,Official sure clearly travel take approach lon...,NaN
99996,937a85742fd649758e63df29fd08f132,male,True,James Romero,james_romero@fakemail.com,2021-08-06 16:10:18,1993-12-02,employed,Election case measure less national first more...,NaN
99997,a89ec3b5acb64a2089bcf18569485e64,male,True,Joshua Morales,joshua_morales@fakemail.com,2021-08-17 22:17:29,2003-01-04,high school,How take husband receive enter he process whic...,NaN
99998,a81d4643cad649b5897a39654363b6f1,female,True,Lisa Donovan,lisa.donovan@fakemail.com,2021-08-21 19:46:16,1994-06-26,employed,Figure political network pressure hold success...,NaN
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,False,Terry Berg,terry.berg@fakemail.com,2021-08-05 00:59:21,1982-12-07,employed,Challenge herself wonder continue.,NaN

## Rating

In [14]:
# The different ratings available
ratings = [1,2,3,4,5]

# Weighted ratings with a skew towards the ends
df['rating'] = random.choices(
    ratings, 
    weights=(30,10,10,10,30), 
    k=num_users
)

df

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,False,Patricia Mcdowell,patricia_mcdowell@fakemail.com,2021-08-04 22:36:51,1980-02-01,employed,Mean radio whose.,1
1,65b856edf7a04b1c95274ed0615614b5,male,False,James Cortez,james_cortez@fakemail.com,2021-08-09 10:55:46,1994-12-22,employed,To director.,5
2,4152d737ee174517bd4691bc726ea71d,male,False,Michael Whitney,michael_whitney@fakemail.com,2021-08-18 18:14:46,1995-12-24,grad,Create chair.,1
3,1e8864c43ef644c293ef8a743e61b52a,female,True,Lori Marshall,lori.marshall@fakemail.com,2021-08-05 10:59:47,1995-10-05,grad,Bar why kitchen page manager story conference ...,5
4,804e09681bb5438fa42223e7ae8d8843,male,True,Jeffrey Perry,jeffrey.perry@fakemail.com,2021-08-06 01:29:41,1987-10-11,employed,Create against none well light method close ci...,3
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,True,Debra Singleton,debra.singleton@fakemail.com,2021-08-21 08:55:28,1986-04-03,employed,Official sure clearly travel take approach lon...,2
99996,937a85742fd649758e63df29fd08f132,male,True,James Romero,james_romero@fakemail.com,2021-08-06 16:10:18,1993-12-02,employed,Election case measure less national first more...,4
99997,a89ec3b5acb64a2089bcf18569485e64,male,True,Joshua Morales,joshua_morales@fakemail.com,2021-08-17 22:17:29,2003-01-04,high school,How take husband receive enter he process whic...,5
99998,a81d4643cad649b5897a39654363b6f1,female,True,Lisa Donovan,lisa.donovan@fakemail.com,2021-08-21 19:46:16,1994-06-26,employed,Figure political network pressure hold success...,3
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,False,Terry Berg,terry.berg@fakemail.com,2021-08-05 00:59:21,1982-12-07,employed,Challenge herself wonder continue.,3

## Saving as a CSV file

In [15]:
df.to_csv('dataset.csv')

In [16]:
# Viewing the saved csv file
csv_df = pd.read_csv('dataset.csv', index_col=0)

csv_df

,id,gender,subscriber,name,email,last_login,dob,education,bio,rating
0,cb6d3a52b3df4e6985b992c4d730e36e,female,False,Patricia Mcdowell,patricia_mcdowell@fakemail.com,2021-08-04 22:36:51,1980-02-01,employed,Mean radio whose.,1
1,65b856edf7a04b1c95274ed0615614b5,male,False,James Cortez,james_cortez@fakemail.com,2021-08-09 10:55:46,1994-12-22,employed,To director.,5
2,4152d737ee174517bd4691bc726ea71d,male,False,Michael Whitney,michael_whitney@fakemail.com,2021-08-18 18:14:46,1995-12-24,grad,Create chair.,1
3,1e8864c43ef644c293ef8a743e61b52a,female,True,Lori Marshall,lori.marshall@fakemail.com,2021-08-05 10:59:47,1995-10-05,grad,Bar why kitchen page manager story conference ...,5
4,804e09681bb5438fa42223e7ae8d8843,male,True,Jeffrey Perry,jeffrey.perry@fakemail.com,2021-08-06 01:29:41,1987-10-11,employed,Create against none well light method close ci...,3
...,...,...,...,...,...,...,...,...,...,...
99995,902ba973682a4a26b4e96ee95728a657,female,True,Debra Singleton,debra.singleton@fakemail.com,2021-08-21 08:55:28,1986-04-03,employed,Official sure clearly travel take approach lon...,2
99996,937a85742fd649758e63df29fd08f132,male,True,James Romero,james_romero@fakemail.com,2021-08-06 16:10:18,1993-12-02,employed,Election case measure less national first more...,4
99997,a89ec3b5acb64a2089bcf18569485e64,male,True,Joshua Morales,joshua_morales@fakemail.com,2021-08-17 22:17:29,2003-01-04,high school,How take husband receive enter he process whic...,5
99998,a81d4643cad649b5897a39654363b6f1,female,True,Lisa Donovan,lisa.donovan@fakemail.com,2021-08-21 19:46:16,1994-06-26,employed,Figure political network pressure hold success...,3
99999,36c8dd23aa314d6d943efa5a94cdbef2,male,False,Terry Berg,terry.berg@fakemail.com,2021-08-05 00:59:21,1982-12-07,employed,Challenge herself wonder continue.,3